@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    line-height: 150%;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Layout
 * ===========================================================
 * */

nav {
    margin-left:auto;
    margin-right:0;
    border-bottom: 1px solid black;
}

nav ul {
    float: right;
    list-style: none;
}
nav li {
    display: inline-block;
}
nav li + li::before {
    content: "|";
    margin-right: 12pt;
    margin-left: 12pt;
}

article {
    padding: 20px;
}

nav, header, article, footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 600pt;
}

footer {
    margin-top: 24pt;
    border-top: 1pt dotted #aaaaaa;
    padding-bottom: 24pt;
}

footer ul, header ul {
    list-style: none;
}

footer li, header li {
    float: left;
    display: inline;
}
footer li + li::before, header li + li::before {
    content: "|";
    margin-right: 12pt;
    margin-left: 12pt;
}

/* Headings
 * ===========================================================
 * */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 150%;
}

h1 {
	font-size: 24pt;
	margin-top: 60pt;
	margin-bottom: 30pt;
}

h2 {
    font-size: 14pt;
	margin-top: 24pt;
	margin-bottom: 12pt;
}

/* Paragraph Styles
 * ===========================================================
 * */


blockquote {
    border-left: 2pt #f2f2f2 solid;
    padding-left: 12pt;
    font-style: italic;
}

.references {
    border-top: 1pt dotted #aaaaaa;

}

.draft {
    color: #7a5252;
    font-style: italic;
}

/* Lists
 * ===========================================================
 * */

ul {
    list-style-type: square;
}

/* Table
 * ===========================================================
 * */

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
}

table > caption {
    /* Note: should be same as figcaption */
    font-size: 10pt;
    font-style: italic;
    padding-top: 6px;
    padding-bottom: 6px;
}

thead {
    border-bottom: 1pt solid black;
}
th {
    padding-top: 2pt;
    padding-bottom: 2pt;
}

tr:nth-child(even) {
    background: linen
}
tr:nth-child(odd) {
    background: white
}


/* Image
 * ===========================================================
 * */

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 600pt;
}

figcaption {
    /* Note: should be same as table > caption */
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}

/* TOC
 * ===========================================================
 * */

#toc ul {
    list-style-type: none;
}
